

.green {
    color: #f0aab7;
}
.blue border {
    border:2px #000000 solid;
}

.wow-cursive

img {
    box-shadow: 3px 3px #f87cac;
}

.small {
    height: 40px
}


.chicken-coop {
   box-shadow: 3px 3px #f4629a;
    height: 128px
}

#special pic {
    box-shadow: 3px 3px #ef4f80;
    height: 60px;
}





